---
import { SCORE_API_ENDPOINT } from 'astro:env/server'

const res = await fetch(SCORE_API_ENDPOINT)
const scoreValues = await res.text()
---

<span class='text-xs' id='score'>
  Puntuacion: {scoreValues.trim()}/5
</span>
